@page "/edit-inventory/{id:int}"

@inject NavigationManager NavigationManager
@inject IViewInventoryByIdUseCase ViewInventoryByIdUseCase
@inject IEditInventoryUseCase EditInventoryUseCase

<h3>EditInventory</h3>
<br>
@if (this.inventory is not null)
{
    <EditForm Model="inventory" FormName="formInventory" OnValidSubmit="Update">
        <DataAnnotationsValidator />

        <InputNumber @bind-Value="inventory.InventoryID" hidden />

        <div class="form-group mb-3">
            <label for="">Name</label>
            <InputText id="name" @bind-Value="inventory.InventoryName" class="form-control" />
            <ValidationMessage For="() => inventory.InventoryName" />
        </div>
        <div class="form-group mb-3">
            <label for="">Quantity</label>
            <InputNumber id="quantity" @bind-Value="inventory.Quantity" class="form-control" />
            <ValidationMessage For="() => inventory.Quantity" />
        </div>
        <div class="form-group mb-3">
            <label for="">Price</label>
            <InputNumber id="price" @bind-Value="inventory.Price" class="form-control" />
            <ValidationMessage For="() => inventory.Price" />
        </div>
        <a href="/inventory" class="btn btn-light">Cancel</a>
        <button type="submit" class="btn btn-secondary">Update</button>
    </EditForm>
}

@code {

    [Parameter]
    public int ID { get; set; }

    [SupplyParameterFromForm]
    private InventoryViewModel? inventory { get; set; }

    protected override void OnInitialized()
    {
        inventory ??= new InventoryViewModel();
    }

    protected override async Task OnParametersSetAsync()
    {
        var inv = await ViewInventoryByIdUseCase.ExecuteAsync(this.ID);
        inventory = new InventoryViewModel
        {
            InventoryID = inv!.InventoryID,
            InventoryName = inv.InventoryName,
            Price = inv.Price,
            Quantity = inv.Quantity
        };

        if (this.inventory is null)
        {
            NavigationManager.NotFound();
        }
    }

    private async Task Update()
    {
        var inv = new Inventory
        {
            InventoryID = inventory!.InventoryID,
            InventoryName = inventory.InventoryName,
            Price = inventory.Price,
            Quantity = inventory.Quantity
        };

        await EditInventoryUseCase.ExecuteAsync(inv);
        NavigationManager.NavigateTo("/inventory");
    }
}
