@if (Inventory is not null)
{
    <tr class="text-center align-middle">
        <td>@Inventory.InventoryName</td>
        <td>@Inventory.Quantity</td>
        <td>@Inventory.Price.ToString("c")</td>
        <td><a href="/edit-inventory/@Inventory.InventoryID" class="btn btn-light">Edit</a></td>
    </tr>
}

@code {
    
    [Parameter]
    public Inventory? Inventory { get; set; }
}
