@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr class="text-center">
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (inventories is not null && inventories.Any())
        {
            foreach (var inv in inventories)
            {
                <InventoryListItemComponent inventory="inv" />
            }
        }
    </tbody>
</table>

@code {
    private List<Inventory>? inventories;

    [Parameter]
    public string? SearchInventoryFilter { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync(SearchInventoryFilter ?? string.Empty)).ToList();
    }
}
