<EditForm Enhance="true" Model="searchFilter" FormName="formSearch" OnSubmit="Search">
    <div class="input-group mb-3">
        <InputText class="form-control" placeholder="Type inventory name here to search"
                   @bind-Value="this.searchFilter" />
        <button type="submit" class="btn btn-primary input-group-text">Search</button>
    </div>
</EditForm>

@code {

    [SupplyParameterFromForm]
    private string? searchFilter { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> OnSearch { get; set; }
    private async Task Search()
    {
        await OnSearch.InvokeAsync(searchFilter);
    }
}
